<!DOCTYPE html>
<html>
  <head>
    <title>WebSocket Video</title>
  </head>
  <body>
    <h1 style="text-align: center">📡 실시간 영상 스트리밍 (WebSocket)</h1>
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
      "
    >
      <!-- width/height 제거 -->
      <canvas id="canvas"></canvas>
    </div>
    <script>
      const ws = new WebSocket("ws://127.0.0.1:8000/ws/video");
      const canvas = document.getElementById("canvas");
      const ctx = canvas.getContext("2d");

      ws.binaryType = "arraybuffer";

      ws.onmessage = (event) => {
        const blob = new Blob([event.data], { type: "image/jpeg" });
        const img = new Image();
        img.onload = () => {
          // 이미지 원본 크기에 맞춰 캔버스 리사이징
          canvas.width = img.naturalWidth;
          canvas.height = img.naturalHeight;
          ctx.drawImage(img, 0, 0);
        };
        img.src = URL.createObjectURL(blob);
      };

      ws.onopen = () => {
        setInterval(() => ws.send("ping"), 5000);
      };
    </script>
  </body>
</html>
